<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:insert="fragments/head">
</head>

<body style="padding-bottom: 150px;align-content: center;margin-left: 50px;margin-top: 150px;">
<header th:insert="fragments/header"></header>
    <div class="container-fluid">


        <h3>Страница для статей</h3>
        <hr>

        <div></div>
        <!-- Add button -->
        <a th:href="@{/articles/add}"
           class="btn btn-primary btn-sm mb-3">
            Добавить статью
        </a>


        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th style="width: 250px">Действия</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="article : ${articles}">

                <td th:text="${article.title}" />
                <td th:text="${article.description}" />

                <td>
                    <!--  Update button/link -->
                    <a th:href="@{/articles/update(articleId=${article.id})}"
                       class="btn btn-info btn-sm">
                        Обновить
                    </a>
                    <!-- Delete button/link -->
                    <a th:href="@{/articles/delete(articleId=${article.id})}"
                       class="btn btn-danger btn-sm">
                        Удалить
                    </a>
                    <a th:href="@{/articles/details(articleId=${article.id})}"
                       class="btn btn-primary btn-sm">
                        Детали
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>