<!-- Footer -->
<footer class="bg-primary text-center text-white fixed-bottom" style="margin-top: 20px">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="http://linkedin.com/in/tariel-beishenaliev-504554256" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Платформа для обучения Автор: Бейшеналиев Тариэль
<!--    <a class="text-white" href="#">MDBootstrap.com</a>-->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->