<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <img th:src="@{/image/kgtu_logo.jpg}" style="width: 50px;height: 50px;margin:30px;">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <h5 class="pt-1">Платформа для обучения КГТУ</h5>
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/course/list}">Курсы</a>
                        </li>
                    </div>
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/list}">Пользователи</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Выйти</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>


        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->