<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <head th:insert="fragments/head"/>
    </head>
</head>
<body style="padding-bottom: 150px;align-content: center;margin-left: 50px;margin-top: 150px;">

<div class="container">
    <h1>File upload</h1>
    <header th:insert="fragments/header"></header>

    <form th:action="@{/doc/upload}" th:object="${fileEntity}" method="post" style="width: 350px;"
          enctype="multipart/form-data">
        <p><input type="hidden" th:field="*{id}" /></p>
        <div class="mb-3">
            <label for="file_input" class="form-label">Документ для загрузки</label>
            <input class="form-control" type="file" id="file_input" name="file_input"
                   accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf">
        </div>
        <input class="btn btn-info col-2" type="submit" value="add">

    </form>
    <footer th:insert="fragments/footer"></footer>
</div>



</body>
</html>