<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <head th:insert="fragments/head">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:sec="http://www.w3.org/1999/xhtml">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <h5 class="pt-1">Платформа для обучения КГТУ</h5>
                </a>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>

    <div class="container">
        <form method="post" action="/login" style="width: 300px; margin-top: 50px;align-content: center;">
            <div class="form-outline mb-4">
                <input type="text" name="username" id="username" class="form-control" placeholder="Имя пользователя"/>
            </div>

            <div class="form-outline mb-4">
                <input name="password" type="password" id="password" class="form-control" placeholder="Пароль"/>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
        </form>
    </div>

    <footer th:insert="fragments/footer"></footer>
</body>
</html>